* {
    margin: 0;
    padding: 0;
    font-family: 'Archivo Narrow', sans-serif;
}

/* Cabeçalho: */

.navbar .container {
    display: flex;
    justify-content: space-between;
}

.navbar {
    background-color: #B5121B;
}

.logo {
    width: 100px;
}

.navbar a {
    color: #B5121B;
    text-decoration: none;
}


.header-conteudo-search form {
    display: flex;
}

.header-conteudo-search input {
    font-size: 16px;
    padding: 8px 15px;
    border: 1px solid #999999;
    outline: 0;
    width: 100%;
    max-width: 250px;
}

.header-conteudo-search button {
    border: 0;
    background: transparent;
    margin-left: -35px;
    cursor: pointer;
    padding: 10px;
}

.header-conteudo-search button img {
    width: 16px;
    height: 16px;
}

/* Main: */

.titulo {
    background-color: #FFF;
}

.titulo-heading {
    color: #B5121B;
    font-size: 50px;
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Archivo Narrow', sans-serif;
    margin: 50px;
}

.carregando {
    color: #B5121B;
    font-size: 50px;
    text-align: center;
}

.filme {
    border: 1px solid #CCC;
    padding: 10px;
    background-color: #EEE;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.filme img {
    width: 100%;
    margin-bottom: 10px;
}

/* Footer: */

footer {
    background-color: #B5121B;
    color: #FFF;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

@media (max-width: 375px) {

    .navbar .container {
        display: block;
        text-align: center;
    }

    .header-conteudo {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 15px;
    }

    footer {
        font-size: 15px;
    }
}
